.card{
background:white;
border-radius:10px;
border:.5px solid var(--border);
overflow:hidden;
margin-bottom:16px
}

.tbl-wrap{overflow-x:auto}

table{
width:100%;
border-collapse:collapse;
font-size:12px
}

tbody td{
padding:10px 11px;
vertical-align:middle
}

.prod-ico{
width:30px;
height:30px;
border-radius:6px;
background:#f0f4ff;
display:inline-flex;
align-items:center;
justify-content:center
}

.act-btns{
display:flex;
gap:6px;
align-items:center
}

.act-btn{
width:30px;
height:30px;
border:none;
border-radius:6px;
cursor:pointer;
display:flex;
align-items:center;
justify-content:center
}

.btn-view{background:#e8f7ed}
.btn-edit{background:#e8f0ff}
.btn-del{background:#fdecea}

.tabs{
display:flex;
border-bottom:1px solid var(--border);
margin-bottom:18px
}

.tab{
padding:9px 18px;
font-size:12px;
cursor:pointer;
}

.qty-wrap{
display:flex;
align-items:center;
border:1.5px solid var(--border);
border-radius:8px;
overflow:hidden
}

.qty-btn{
width:36px;
height:38px;
border:none;
cursor:pointer
}

.qty-input{
flex:1;
border:none;
text-align:center
}