@media(max-width:768px){

    .auth-split{

        flex-direction:column;
    }

    .auth-right{

        width:100%;
    }

    .stats{

        grid-template-columns:
        1fr 1fr;
    }

    .prof-grid{

        grid-template-columns:1fr;
    }

    .sidebar{

        width:200px;
    }
}